@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contact us";
}
<br />
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<br />

<address>
    103 Al. Stambolijski Blvd. <br />
    Sofia 1303, Bulgaria<br />
    <abbr title="Phone">Phone:</abbr>
    +359(0)000/000/000<br />
    <abbr title="E-mail">E-mail:</abbr>
    info(at)childrenread.net
    </abbr>

</address>

<table>
    <tr>
        <td>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.241161434537!2d23.305890050835934!3d42.69861412154432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85415174a677%3A0x3424eab815a5d8d9!2z0LHRg9C7LiDigJ7QkNC70LXQutGB0LDQvdC00YrRgCDQodGC0LDQvNCx0L7Qu9C40LnRgdC60LjigJwgMTAzLCAxMzAzINCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1493969600985" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </td>
    </tr>
</table>
